[user]
	name = Danylo Oliveira
	email = danylo.oliveira73@gmail.com
	signingkey = 6ACFC4AD12616ABF
[pull]
	ff = only
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/1a5daa3a0231a0fbba4f14db7ec463cf99d7768e/node /tmp/vscode-remote-containers-404ed5ae-06a1-42fa-8284-ab215ff03976.js git-credential-helper $*; }; f"
