[user]
	name = Danylo Oliveira
	email = danylo.oliveira73@gmail.com
	signingkey = 6ACFC4AD12616ABF
[pull]
	ff = only
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/af28b32d7e553898b2a91af498b1fb666fdebe0c/node /tmp/vscode-remote-containers-2a989079-18aa-4a8d-a321-a953cd4f1ff5.js git-credential-helper $*; }; f"
